#data_container{
    overflow-y:hidden;
}

#data_container::-webkit-scrollbar {
    height:0; 
    width:0;

}

td {
    background-color: transparent !important;
}
.greyed{
    background-color: grey;
}

a {
    text-decoration: none;
}