#drag_container{

    display:flex;
    overflow: hidden;
    flex-direction: row;
    height:100%;
    width:100%;
    flex-wrap: wrap;
    max-height:100%;
    max-width:100%;

}

#left
{
    padding-top:20px;
    flex:auto;
    height:100%;
    width:49%;
    max-width:90%;
    min-width:10%;
    max-height:100%;
    position:relative;
    
}

#dragMeH {

    cursor: ew-resize;
    width : 1px;
    height:100%;
    background-color:rgb(189, 189, 189);
}


#right{
    padding-top:20px;
    flex:auto;
    height:100%;
    position:relative;
    width:49%;
    max-height:100%;
    max-width:90%;
    min-width:10%;
}
