.mr-sm-2,.my-sm-0  {
  height:35px;
  vertical-align: center;
}


#input1,#input2{
  font-size :14px;
  width: 200px;
  margin-right :10px;
}

#btn2{
  width:100px;
  font-size:15px;
 
}

form {
  display:flex;
  margin-left :20px;
  margin-right :20px;

  margin-bottom:5;
}
.navbar {
  height : 70px;
  align-content: left;
}

#save {
  width:70px;
  margin-left:20px;
 
}
a{
  margin-left: 10px;
}

